---
import Layout from '../layouts/Layout.astro';
import Players from "../layouts/Players";
import Assistance from "../layouts/Assistance";
---

<Layout title="Pase asistencia">
    <main>
		<nav>
			<span class="text-resp text-[#0833a2]">Lista de Jugadores de fogoneros</span>
			<div class="dirButtons">
				<button class="p-1 rounded border-b-slate-300 border text-[#0833a2] font-medium">
					<a href="/">Lista de jugadores</a>
				</button>
				<button class="p-1 rounded border-b-slate-300 border text-[#0833a2] font-medium">
					<a href="player/registro">Registrar nuevo</a>
				</button>
			</div>
		</nav>
	</main>

	<Assistance client:visible	/>

	<br><br><br>
	<a href="/">Ir a lista de jugadores</a>

</Layout>

<style>
    h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
        color: black;
		margin-bottom: 1em;
	}

	nav{
		display: flex;
		margin: 0 auto;
		justify-content: space-between;
		align-items: center;
		padding: 0 1rem;
		width: 80%;
		height: 8vh;
		margin-bottom: 2%;
		margin-top: 1%;

	}

	.text-resp {
		font-size: 3rem;
		font-weight: 600;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	.dirButtons {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		gap: 1rem;
		right: 0;
		bottom: 0%;

	}

</style>